.slide {
	-webkit-transition: all 0s ease-in-out;
	-moz-transition: all 0s ease-in-out;
	-o-transition: all 0s ease-in-out;
	transition: all 0s ease-in-out;
	width: 100%;
	top: 0%;
	margin-top: 0px;
	height: 100%;
	overflow: visible;
}

.slide.current {
	margin-left: 0px;
	left: 0%;
}

.slide.left-slide {
	margin-left: -2000px;
}

.slide.right-slide {
	margin-left: 1100px;
}

.lightningImage {
	width: 400px;
}

.slide:nth-child(even) {
	border-radius: 0px;
}

.slide:nth-child(odd) {
	border-radius: 0px;
}