.slide {
	-webkit-transition: all 0s ease-in-out;
	-moz-transition: all 0s ease-in-out;
	-o-transition: all 0s ease-in-out;
	transition: all 0s ease-in-out;
	width: 70%;
	height: 80%;
	margin-top: -40%;
	overflow: visible;
}

.slide.current {
	margin-left: 0px;
	left: 15%;
}

.note {
	color: white;
	bottom: -10%;
	position: absolute;
}

.title {
	margin-top: 200px;
}

.slide.left-slide {
	margin-left: -2000px;
}

.slide.right-slide {
	margin-left: 1100px;
}

.slide:nth-child(even) {
	border-radius: 30px;
	-moz-border-radius: 30px;
}

.slide:nth-child(odd) {
	border-radius: 30px;
	-moz-border-radius: 30px;
}